.login-container {
    background-color: rgb(38, 38, 38);
    margin: auto;
    margin-top: 10vh; /* Ajusta este valor según tus preferencias */
    width: 40%; /* Ajusta este valor según tus preferencias */
    /*shadow*/
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.54);
    /*border*/
    border-radius: 10px;
}

@media (max-width: 768px) {
    /* Estilos específicos para pantallas con un ancho máximo de 768px */
    .login-container {
        width: 90%;
        max-width: none; /* Elimina el ancho máximo para permitir que el contenedor se expanda en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    /* Estilos específicos para pantallas con un ancho máximo de 576px */
    .login-container {
        width: 95%;
    }
}
